{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
 {% if user.is_authenticated %}
    <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Logs</h5>
                <h2 class="card-title">Performance</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Data</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Blocked websites</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Blocked websites</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <input type="text" name="website" placeholder="website URL" style="border: solid; border-radius:15px; border-width: thin; border-color:white; margin-top: 10px; background-color: transparent;"/>
              <input type="button" class="click" id="click" value="Block" style="width: 60px; margin-top: 10px; height: 20px; text-align: center; color: white; background: #aa50e5; font-size: 13px; border-color: #aa50e5; border-radius:15px; padding: 0px; "><br></br>
              <div class="vertical-menu" style=" height: 150px;overflow-y: scroll;">
                {% if website.objects.all %}
                <a style="background-color: transparent;display: block;" href="{{websites.website_url}}">test0</a>
                {% for w in website.objects.all %}
                <a style="background-color: transparent;display: block;" href="{{w.website_url}}">test1</a>
                {% endfor %}
                {% else %}
                <h5 class="card-category" style="text-align: center;">No websites to display</h5>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Generate a Proxy</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>Generate a Proxy</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <input type="text" name="duration" placeholder="Duration" style="float:left; width: 130px; padding:8px; display:inline-block;border: solid; border-radius:15px; border-width: thin; border-color:white; background-color: transparent;"/>
              <input type="text" name="usage" placeholder="Usage" style="float: right; width: 130px; padding:8px; display:inline-block; border: solid; border-radius:15px; border-width: thin; border-color:white; background-color: transparent;"/><br></br>
              <div class="vertical-menu" style=" height: 150px; margin-top: 15px; overflow-y: scroll;">
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
              </div>
              <input type="button" class="click" id="click" value="Generate" style="width: 70px; height: 20px; text-align: center; color: white; background: #aa50e5; font-size: 13px; border-color: #aa50e5; border-radius:15px; padding: 0px; ">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Proxies generated</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i>Proxies generated</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <h5 class="card-category">Proxies generated</h5>
              <div class="vertical-menu" style=" height: 150px; margin-top: 15px; overflow-y: scroll;">
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
                <a style="background-color: transparent;display: block;" href="#">127.0.0.1</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card card-tasks">
          <div class="card-header ">
            <h6 class="title d-inline">Tasks</h6>
            <p class="card-category d-inline">today</p>
            <div class="dropdown">
              <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                <i class="tim-icons icon-settings-gear-63"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#pablo">Action</a>
                <a class="dropdown-item" href="#pablo">Another action</a>
                <a class="dropdown-item" href="#pablo">Something else</a>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="table-full-width table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <p class="title">Update the Documentation</p>
                      <p class="text-muted">Dwuamish Head, Seattle, WA 8:47 AM</p>
                    </td>
                    
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="" checked="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <p class="title">GDPR Compliance</p>
                      <p class="text-muted">The GDPR is a regulation that requires businesses to protect the personal data and privacy of Europe citizens for transactions that occur within EU member states.</p>
                    </td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                        <i class="tim-icons icon-pencil"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    
                    <td>
                      <p class="title">Solve the issues</p>
                      <p class="text-muted">Fifty percent of all respondents said they would be more likely to shop at a company </p>
                    </td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                        <i class="tim-icons icon-pencil"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" value="">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>
                      <p class="title">Arival at export process</p>
                      <p class="text-muted">Capitol Hill, Seattle, WA 12:34 AM</p>
                    </td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">
                        <i class="tim-icons icon-pencil"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Proxy's list</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      City
                    </th>
                    <th class="text-center">
                      IP address
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      Oud-Turnhout
                    </td>
                    <td class="text-center">
                      $36,738
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    {% include "./register.html" %}
  {% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
