

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="https://appseed.us/admin-dashboards/django-dashboard-black" class="nav-link">
                Proxy Dashboard
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="https://github.com/zmiamuo/Proxy_Server">Proxy_Server</a> 
            - coded by <a target="_blank" rel="noopener noreferrer" href="https://github.com/zmiamuo">zmiamuo</a>
          </div>
        </div>
      </footer>
      
